<?xml version="1.0"?>
<launch>

	<param name="use_sim_time" value="true"/>
	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="verbose" default="true"/>

	<include file="$(find bring_up)/launch/robot_spawn.launch">
		<arg name="robot_name" value="robot1"/>
		<arg name="pose_x" value="0"/> 
		<arg name="pose_y" value="0"/>
		<arg name="pose_yaw" default="0"/>
	</include>

	<include file="$(find bring_up)/launch/robot_spawn.launch">
		<arg name="robot_name" value="robot2"/>
		<arg name="pose_x" value="2.5"/> 
		<arg name="pose_y" value="1.5"/>
		<arg name="pose_yaw" default="0"/>
	</include>

</launch>
